*{
  border: 0.1px solid red;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.row{
  width: 100%;
  display: flex;
  padding: 10px;
  margin: 0;
}

.col-1{
	width: 8.333%
}

.col-2{
	width: 16.667%
}

.col-3{
	width: 25%
}

.col-4{
	width: 33.333%
}

.col-5{
	width: 41.667%
}

.col-6{
	width: 50%
}

.col-7{
	width: 58.333%
}

.col-8{
	width: 66.667%
}

.col-9{
	width: 75%
}

.col-10{
	width: 83.333%
}

.col-11{
	width: 91.667%
}

.col-12{
	width: 100%
}


.navBar{
	margin:0;
	padding :0;
	float: right
	list-style-type: none;
}


.basic_info{
	float: right;
}

.photo, .email, .name{
	display : inline;
	padding-right: 30px;
	float : right;
	font-size: 20px;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}
.mainPhoto{
	display: block;
	margin: 50px auto 50px auto;
	
}
.searchBar{
	/*
	
	*/
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	
}
.submitButtons{
	margin: 0 auto;
	/*height:50px;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 50px;*/
	
}

.inputText{
	
	/*
	font-size:30px;
	width: 90%;
	width: 90%;
	margin-right:20px;
	*/
	
	width: 94%;
	font-size:30px;
	
}

.voiceSearch{
	 border: 1px solid blue;
	 /*
	
	 	height: 50%;
		width: 20%;
	 */
	 width: 6%;
	 height: 6%
	 
		
	 
}

.searchButton, .specialButton {
	height :40px;
	font-size: 30px;
}

/*
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/
.bottom{
	margin-top:80px;
}

.otherInfo{
	
	background-color: #f2f2f2;
	display: inline;
}

.footer{
	padding:0;
	margin:0;
	list-style-type: none;
	font-size: 20px;
}
.google {
	float: left;
	margin-right:10px;
}

.google:hover{
	text-decoration: underline;
}
.user{
	float: right;
	margin-left:10px;
}

.user:hover{
	text-decoration: underline;
}
/*Try the Git Rebase Command*/
/*2nd attempt to the git rebase command*/
/*3nd attempt to the git rebase command*/